#!/bin/bash

keys_file=.envrc-private

if [ ! -f ${keys_file} ]; then
  cat >> ${keys_file} <<'EOF'
#!/bin/bash

# set these variables to override the defaults

# DSR_URI :: Specify the address of the datasetregister where dataset metadata can be found
# export DSR_URI="https://triplestore.netwerkdigitaalerfgoed.nl/repositories/registry"

# DSR_QUERY :: Specify the query used for quering the datasetregister to find the source dataset metadata
# export DSR_QUERY="static/queries/datasetregister.rq"

# SHACL_SHAPE_FILE :: Specficy the shapefile for validating the transformation result
# export SHACL_SHAPE_FILE="static/shapes/shacl_edm.ttl"

# set the TRIPLYDB_TOKEN to automatic upload the result to a TriplyDB platform

# TRIPLYDB_TOKEN :: Set the default TriplyDB token; should be aligned with the host TriplyDB instance
# export TRIPLYDB_TOKEN=

EOF
fi

[ -z "${TRIPLYDB_TOKEN}" ] \
  && echo "Modify the environment variables in ${keys_file} and run 'source ${keys_file}."
