#!/bin/bash

keys_file=.envrc-private

if [ ! -f ${keys_file} ]; then
  cat >> ${keys_file} <<'EOF'
#!/bin/bash

# set the to be transformed dataset;
export SOURCE_DATASET=

# set the destination name of the be transformed dataset;
export DESTINATION_DATASET=

# set the  local query for the dataset if this is not in the metadata available;
export LOCAL_QUERY=

# set the default TriplyDB token; should be aligned with the host TriplyDB instance
export TRIPLYDB_TOKEN=
EOF
fi
source_env ${keys_file}

[ -z "${TRIPLYDB_TOKEN}" ] \
  && echowarn "If you want to develop your ETL locally, make sure to set the correct environment variables in ${keys_file}."
