#!/bin/bash

keys_file=.envrc-private

if [ ! -f ${keys_file} ]; then
  cat >> ${keys_file} <<'EOF'
#!/bin/bash
export TRIPLYDB_TOKEN={your-api-token}
EOF
fi
source_env ${keys_file}

[ -z "${TRIPLYDB_TOKEN}" ] \
  && echowarn "If you want to develop your ETL locally, make sure to set the correct environment variables in ${keys_file}."
